.container__contact {
  background-image: url(../images/garlic.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 0;

}

.form__container {
  width: 100%;
  background-color: rgba(32, 178, 170, 0.57);
  border-radius: 23px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;


  div {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
  }



  p {
    max-width: 500px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 3rem;
  }

  form {
    max-width: 500px;
    display:flex;
    flex-direction: column;
    margin-left: 1rem;

    input  {
      margin-bottom: 10px;
    }

    textarea {
      margin-bottom: 10px;
    }
    .button {
      background-color: rgba(70, 130, 180, 0.73);
      color: white;
      cursor: pointer;
      padding: 8px 19px;
      border: 1px solid dodgerblue;
      border-radius: 23px;
      margin-top: 1rem;
    }
    .button:hover{
      background-color: indianred;
    }
  }


  label {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    letter-spacing: -1px;
  }
}

.form__title {
  text-transform: uppercase;
  color: lightseagreen;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 3rem 0;
}
